In [1]:
# Beginning of "synthetic_data_scratchwork.ipynb"

# Synthetic Data Scratchwork

The following is creating synthetic data that mimics some company. Will create some example data in order to use the PuLP and MCMC methods to optimize a transportation-type problem.

### Libraries and Modules

In [ ]:
# Import necessary libraries and modules
import random # For random number generator
import psycopg2 # To connect with PostgreSQL
import yaml # Read config files
import time
import pandas as pd # Dataframes
import numpy as np # Calculations and processing
pd.set_option('display.max_rows', 12)
pd.set_option('display.max_columns', 10)
from sqlalchemy import create_engine

## Creating Customers

This company will have (arbitrarily) one hundred and twenty-five (125) customers. A for loop will add a number (1 - 125) to the `customer_` prefix.

In [ ]:
prefix_1 = "customer_"
numbered_customers = []

for i in range(1, 126): # Generates suffixes from 1 to 125
    numbered_customers.append(f"{prefix_1}{i}")

print(numbered_customers[:5]) # Prints the first 5 elements

['customer_1', 'customer_2', 'customer_3', 'customer_4', 'customer_5']

Need to compute the magnitude of 3/5 of the customers list to make a list of factories.

In [6]:
num_factories = int((3/5)*len(numbered_customers))
print(f"The number of factories is: {num_factories}")

The number of factories is: 75

So, according to the above calculation, there should be about 75 factories.

### Creating Factories

After determining that I need 75 fictitious factories, I will use same logic as that to create customers list, but using the `factory-` prefix (`prefix_2`).

In [8]:
prefix_2 = "factory_"
numbered_factories = []

for i in range(1, num_factories+1): # Generates suffixes from 1 to 125
    numbered_factories.append(f"{prefix_2}{i}")

print(numbered_factories[:5]) # Prints the first 5 elements

['factory_1', 'factory_2', 'factory_3', 'factory_4', 'factory_5']

### Transportation costs

The dataframe I will be building will have the customers as columns and plant/factory as rows. The cell will be the fixed transportation costs, $c_{ij}$, to deliver one unit of good from factory $j$ to customer $i$.

Will need to generate random numbers to simulate the fixed transportation costs.

In [9]:
# Assumes cost to be an integer from 2 - 12.
print(random.randint(1, 15))

12

In [10]:
# Establish some constants
# This will be the length and width of my dataframe
num_plants = 75
num_customers = 125

In [ ]:
# First create a random numpy array then dataframe
random_array = np.random.randint(
    1,
    16,
    (
        num_plants,
        num_customers
    )
)
random_matrix_df = pd.DataFrame(random_array)
random_matrix_df.head(25)

    0    1    2    3    4    ...  120  121  122  123  124
0    11   11   15   15    5  ...    3   11    1   14    7
1    12    3    6   10    9  ...    4   13    3    4    8
2    14   12    1    3   15  ...    9   11    7    5   12
3    13    8    3    2    9  ...    4    6    4    1    4
4     4   14    2   12    2  ...    5   10    5   10    7
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
20   12   15    5    5   11  ...   12    3   10   11   12
21   14   10    1    3    7  ...   12    3    8    9   15
22   11   12    8    8   15  ...    7    7    3   11    2
23   14    7   15    2   10  ...    1   12    5    7    6
24   11    8   10   15    8  ...    8    2    1    5   13

[25 rows x 125 columns]

I want to concatenate the two previously created lists of customers and plants/factories. Notice, I have to first convert the list to numpy entities and then add another dimension to merge with the larger array

In [12]:
# Turn list into a numpy array
num_factories = np.array(numbered_factories)
print(num_factories.ndim)
print(num_factories.shape)

1
(75,)

In [13]:
print(random_array.ndim)
print(random_array.shape)

2
(75, 125)

Apply indexing method to add another dimension to the new numpy array.

In [14]:
num_factories_reshaped = num_factories[:, None]
print(num_factories_reshaped.shape)

(75, 1)

In [ ]:
# Concatenate the two array
concat_2d_axis1 = np.concatenate(
    (
        num_factories_reshaped,
        random_array
    ),
    axis=1
)

print(concat_2d_axis1[:10, :])

[['factory_1' '11' '11' ... '1' '14' '7']
 ['factory_2' '12' '3' ... '3' '4' '8']
 ['factory_3' '14' '12' ... '7' '5' '12']
 ...
 ['factory_8' '8' '9' ... '9' '1' '12']
 ['factory_9' '2' '12' ... '1' '8' '15']
 ['factory_10' '14' '8' ... '3' '6' '1']]

In [16]:
# Will try directly adding plant list as index to the pandas df
random_matrix_df.index = numbered_factories
random_matrix_df.head(10)

            0    1    2    3    4    ...  120  121  122  123  124
factory_1    11   11   15   15    5  ...    3   11    1   14    7
factory_2    12    3    6   10    9  ...    4   13    3    4    8
factory_3    14   12    1    3   15  ...    9   11    7    5   12
factory_4    13    8    3    2    9  ...    4    6    4    1    4
factory_5     4   14    2   12    2  ...    5   10    5   10    7
factory_6     2    2    9   11    5  ...    6    9   11    7   15
factory_7     1   15    2    9   11  ...    6   11    2    6   13
factory_8     8    9    9   11   12  ...   14    3    9    1   12
factory_9     2   12   11    7   15  ...    5    1    1    8   15
factory_10   14    8    8    5    7  ...   10    5    3    6    1

[10 rows x 125 columns]

This route ended up being a lot quicker and more straight forward.

In [17]:
print(random_matrix_df.index)

Index(['factory_1', 'factory_2', 'factory_3', 'factory_4', 'factory_5',
       'factory_6', 'factory_7', 'factory_8', 'factory_9', 'factory_10',
       'factory_11', 'factory_12', 'factory_13', 'factory_14', 'factory_15',
       'factory_16', 'factory_17', 'factory_18', 'factory_19', 'factory_20',
       'factory_21', 'factory_22', 'factory_23', 'factory_24', 'factory_25',
       'factory_26', 'factory_27', 'factory_28', 'factory_29', 'factory_30',
       'factory_31', 'factory_32', 'factory_33', 'factory_34', 'factory_35',
       'factory_36', 'factory_37', 'factory_38', 'factory_39', 'factory_40',
       'factory_41', 'factory_42', 'factory_43', 'factory_44', 'factory_45',
       'factory_46', 'factory_47', 'factory_48', 'factory_49', 'factory_50',
       'factory_51', 'factory_52', 'factory_53', 'factory_54', 'factory_55',
       'factory_56', 'factory_57', 'factory_58', 'factory_59', 'factory_60',
       'factory_61', 'factory_62', 'factory_63', 'factory_64', 'factory_65',
       'factory_66', 'factory_67', 'factory_68', 'factory_69', 'factory_70',
       'factory_71', 'factory_72', 'factory_73', 'factory_74', 'factory_75'],
      dtype='object')

In [18]:
random_matrix_df.columns = numbered_customers
random_matrix_df.head(10)

,customer_1,customer_2,customer_3,customer_4,customer_5,...,customer_121,customer_122,customer_123,customer_124,customer_125
factory_1,11,11,15,15,5,...,3,11,1,14,7
factory_2,12,3,6,10,9,...,4,13,3,4,8
factory_3,14,12,1,3,15,...,9,11,7,5,12
factory_4,13,8,3,2,9,...,4,6,4,1,4
factory_5,4,14,2,12,2,...,5,10,5,10,7
factory_6,2,2,9,11,5,...,6,9,11,7,15
factory_7,1,15,2,9,11,...,6,11,2,6,13
factory_8,8,9,9,11,12,...,14,3,9,1,12
factory_9,2,12,11,7,15,...,5,1,1,8,15
factory_10,14,8,8,5,7,...,10,5,3,6,1

Will create a list to simulate demand for each customer.

In [ ]:
possible_nums = np.arange(50, 301, 10)
possible_nums = possible_nums.tolist()
# Select a random number from this array
demand = []
for i in range(1, num_customers+1): # Generates demand for all 75 factories
    #demand.append(np.random.choice(possible_nums))
    demand.append(random.choice(possible_nums))

print(demand)

[60, 240, 170, 190, 190, 200, 230, 180, 290, 220, 120, 220, 90, 170, 300, 70, 50, 290, 90, 230, 170, 90, 110, 300, 50, 230, 220, 70, 250, 220, 80, 250, 150, 210, 220, 110, 250, 150, 280, 90, 80, 250, 250, 210, 120, 270, 50, 70, 150, 270, 220, 240, 200, 60, 160, 180, 170, 60, 130, 250, 110, 150, 50, 260, 200, 140, 260, 50, 50, 270, 110, 270, 220, 130, 130, 280, 110, 220, 150, 280, 70, 250, 190, 130, 280, 110, 150, 260, 50, 300, 70, 190, 260, 170, 290, 210, 300, 180, 170, 290, 120, 60, 60, 90, 240, 170, 80, 240, 60, 50, 150, 170, 220, 220, 150, 170, 160, 60, 230, 110, 240, 70, 120, 80, 170]

Need a list for the fixed manufacturing/production capacity.

In [29]:
# Select a random number from this array
possible_nums_2 = [
    125,
    250,
    375,
    500,
    625,
    750
]
prod_capacity = []
for j in range(1, num_plants+1): # Generates demand for all 75 factories
    prod_capacity.append(random.choice(possible_nums_2))

prod_capacity.append(None)
print(prod_capacity)

[625, 250, 500, 250, 250, 375, 375, 750, 500, 625, 125, 375, 750, 125, 750, 375, 125, 750, 375, 125, 750, 750, 250, 375, 250, 375, 250, 250, 125, 125, 125, 250, 625, 375, 250, 500, 375, 500, 625, 125, 375, 250, 750, 125, 125, 375, 250, 750, 500, 750, 500, 625, 750, 250, 125, 125, 625, 500, 125, 375, 250, 125, 125, 500, 500, 125, 375, 625, 500, 500, 625, 375, 125, 125, 250, None]

Now, want to add the demand that I just created as row to the final table with an index included. For the production capacities, I will use the column I created.

In [30]:
random_matrix_df.loc['demand'] = demand
random_matrix_df.tail(10)

,customer_1,customer_2,customer_3,customer_4,customer_5,...,customer_121,customer_122,customer_123,customer_124,customer_125
factory_67,7,4,5,14,10,...,4,1,2,8,10
factory_68,15,13,14,12,10,...,11,6,3,1,3
factory_69,9,3,9,6,2,...,3,14,8,2,10
factory_70,13,1,2,1,5,...,14,14,7,14,8
factory_71,7,11,3,9,8,...,5,4,2,4,5
factory_72,9,13,1,5,5,...,5,9,10,6,11
factory_73,6,5,13,9,5,...,7,2,10,2,11
factory_74,13,13,7,9,9,...,3,6,2,10,9
factory_75,4,13,8,2,12,...,3,8,4,8,13
demand,60,240,170,190,190,...,240,70,120,80,170

Similarly, want to add the manufacturing capabilities as a column on this latest Pandas dataframe.

In [ ]:
# Add a new column with values from a list or Series
random_matrix_df['production_capacity'] = prod_capacity
random_matrix_df.tail(10)

,customer_1,customer_2,customer_3,customer_4,customer_5,...,customer_122,customer_123,customer_124,customer_125,production_capacity
factory_67,7,4,5,14,10,...,1,2,8,10,375.0
factory_68,15,13,14,12,10,...,6,3,1,3,625.0
factory_69,9,3,9,6,2,...,14,8,2,10,500.0
factory_70,13,1,2,1,5,...,14,7,14,8,500.0
factory_71,7,11,3,9,8,...,4,2,4,5,625.0
factory_72,9,13,1,5,5,...,9,10,6,11,375.0
factory_73,6,5,13,9,5,...,2,10,2,11,125.0
factory_74,13,13,7,9,9,...,6,2,10,9,125.0
factory_75,4,13,8,2,12,...,8,4,8,13,250.0
demand,60,240,170,190,190,...,70,120,80,170,NaN

The following is a simple sanity check that I do have the necessary Python libraries to interact with my PostgreSQL database.

In [32]:
import psycopg2
print(psycopg2.__version__)

2.9.10 (dt dec pq3 ext lo64)

## Push Dataframe to Database

Successfully accessed my PostgreSQL database, read a schema, and created a table using a YAML configuration file. But now I want to upload the entire Pandas data frame.

In [ ]:
# Read the configuration file
with open("config.yaml", "r") as file:
    config = yaml.safe_load(file)

dbname=config["database"]["name"]
user=config["server"]["user"]
password=config["server"]["password"]
host=config["server"]["host"]
port=config["server"]["port"]

# Replace with your PostgreSQL credentials and database details
# db_connection_str = 'postgresql+psycopg2://user:password@host:port/database_name'
db_connection_str = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}"
# Create the engine
engine = create_engine(db_connection_str)

start_time = time.time() # get start time before insert
try:
    random_matrix_df.to_sql(config["database"]["table"], engine, index=True, if_exists='replace')
    print("DataFrame successfully moved to PostgreSQL!")
except Exception as e:
    print(f"Error moving the DataFrame to PostgreSQL database: {e}")
end_time = time.time() # get end time after insert
total_time = end_time - start_time # calculate the time
print(f"Insert time: {total_time:.3f} seconds") # print time

DataFrame successfully moved to PostgreSQL!
Insert time: 0.222 seconds

In [56]:
random_matrix_df.tail()

,customer_1,customer_2,customer_3,customer_4,customer_5,...,customer_122,customer_123,customer_124,customer_125,production_capacity
factory_72,9,13,1,5,5,...,9,10,6,11,375.0
factory_73,6,5,13,9,5,...,2,10,2,11,125.0
factory_74,13,13,7,9,9,...,6,2,10,9,125.0
factory_75,4,13,8,2,12,...,8,4,8,13,250.0
demand,60,240,170,190,190,...,70,120,80,170,NaN

## Conclusion

The steps in this notebook, detail how to build a dataframe that simulates a transportation cost matrix. This matrix was then loaded to the relational database management system that is PostgreSQL using the proper credentials.

In [ ]:
# End of "synthetic_data_scratchwork.ipynb"